body{
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
h1{
    text-align: center;
    font-size: 50px;
}
.container{
    width: 100%;
}
.main-container{
    background-color: #17C3B2;
    position: relative;
    width: 450px;
    height: 550px;
    border-radius: 30px;
    padding: 30px 50px;
    left: 450px;
    display: flex;
    justify-content: center;  
    align-items: center; 
    flex-direction: column;
    gap: 16px;
}
.btn{
    border-radius: 5px; 
    padding: 10px 20px;
    border: none;
    color: black;
    background-color: #F8FFE5;
    height: 3rem;
    width: 16rem;
    text-align: center;
    font-size: 18px;
}
.inner{
    height: 550px;
    width: 1100px;
    padding: 30px 10px;
    border-radius: 30px;
    margin-left: 180px;
    background-color: #17C3B2;
    overflow: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.newtask{
    border-radius: 5px; 
    padding: 10px 20px;
    border: none;
    color: black;
    background-color: #F5E6E8;
    height: 3rem;
    width: 98%;
    text-align: center;
    font-size: 18px;
}
#itemList{
    font-size: 28px;
}
#add{
    height: 80px;
    display: flex;
    align-items: center; 
    flex-direction: column;
    gap: 16px;
}
.lastbox{
    height: auto;
    width: 800px;
    overflow: visible;
}
li{
    display: flexbox;
    position: relative;
    margin: 5px;
}
ul {
    padding: 0;
    margin: 0;
}
.bin{
    position: absolute;
    background-color: #17C3B2;
    padding-left: 2px;
    padding-right: 2px;
    top: 6px;
    left: 920px;
    border-radius: 20%;
    display: inline-block;
    border: 1px;
}
.bin img{
    height: 24px;
    width: 24px;
    padding: 0px;
}
.done{
    position: absolute;
    display: inline-block;
    background-color: #17C3B2;
    top: 6px;
    left: 890px;   
    padding-left: 2px;
    padding-right: 2px;
    border: 1px;
    border-radius: 12%;
}
.done img{
    height: 24px;
    width: 24px;
    padding: 0px;
}
.del{
    position: absolute;
    display: inline-block;
    background-color: #17C3B2;
    padding-left: 2px;
    padding-right: 2px;
    top: 6px;
    left: 860px;
    border: 1px;
}
.del img{
    height: 24px;
    width: 24px;
    padding: 0px;
}
